@media (max-width: 1200px)
  .container
    width: 790px
  .offer
    &-image
      height: 381px
      width: 395px
      object-fit: cover
    &__info
    &__title
      font-size: 20px
      line-height: 24px
      letter-spacing: 0.2px
      margin-bottom: 14px
    &__text
      min-height: 119px
      max-height: 119px
      font-size: 14px
      line-height: 24px
  .articles
    width: 380px
    height: 500px
    padding-left: 26px
    &__title
      font-size: 30px
      line-height: 40px
@media (max-width: 840px)
  .articles
    width: 90%
    margin: auto
    height: 555px
    padding-right: 60px
    margin-bottom: 16px
  .popular
    &__title
      text-align: center
    &__text
      flex-basis: 100%
      text-align: center
    &__button
      padding: 9px 12px 5px 19px
      margin: auto
      margin-top: 16px
      order: 1
      max-width: 172px
      font-size: 16px
      line-height: 22px
@media (max-width: 800px)
  .container
    width: 90%
  .header
    &__nav
      display: none
    &__burger
      height: 18px
      width: 22px
      padding: 0
      border: none
      display: flex
      align-items: center
      flex-direction: column
      justify-content: space-between
      cursor: pointer
      background-color: transparent
    &__line
      height: 2px
      width: 100%
      background-color: $ligth
      border-radius: 5px
  .tags
    width: 90%
    display: flex
    flex-wrap: wrap
    align-items: center
  .search
    width: 90%
  // БЛОК ПРЕДЛОЖЕНИЯ ГОРЯЧЕГО
  .offer
    &__wrapper
      flex-direction: column
    &-image
      width: 100%
      height: 250px
    &__text
      min-height: 64px
      max-height: 64px
      margin-bottom: 20px
@media  (max-width: 500px)
  .hero
    &__header
      margin-bottom: 37px
    &__title
      font-style: normal
      font-weight: bold
      font-size: 32px
      line-height: 40px
      margin-bottom: 30px
  .header
    padding: 20px 0
    &__button
      display: none
    &__logo
      &-icon
        width: 77px
  .tags
    &__text
      display: block
      margin-bottom: 12px
      flex-basis: 100%
    &__item
      margin-bottom: 12px
  .hero
    height: 482px
    &__image
      display: none
    &__search
      margin-bottom: 67px
  .offer
    &__info
      padding: 24px 20px 24px 20px
    &--hero
      margin-top: -69px
  .articles
    height: 460px
    padding: 20px
    border-radius: 12px
    &__title
      margin-bottom: 11px
      font-size: 32px
      line-height: 40px
      &_two
        margin-bottom: -6px
    &__label
      min-width: 126px
      padding: 2px 8px
      font-size: 14px
      line-height: 20px
      top: 20px
      left: 20px
    .author
      &__name
        display: inline-block
@media (max-width: 400px)
  .container
    width: 288px
  .header__wrapper
    width: 272px
    margin: auto
  .search
    width: 272px
    &__input
      height: 48px
      padding: 13px 15px 13px 44px
      margin-bottom: 12px
    &__button
      padding: 13px 0
      font-size: 16px
      line-height: 22px
      position: static
      width: 100%
    &__icon
      top: 18px
      left: 16px
  .tags
    font-size: 14px
    line-height: 20px
    width: 272px
    &__item
      padding: 5px 17px
  .label
    padding: 2px 11px
    font-style: normal
    font-weight: 600
    font-size: 14px
    line-height: 20px
    text-transform: uppercase
    margin-bottom: 10px
  .offer
    padding-bottom: 50px
    &__title
      margin-bottom: 0
    &__text
      min-height: 72px
      max-height: 72px
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 24px
      margin-bottom: 24px
    &--hero
      margin-top: -45px
    &-image
      height: 160px
  .author
    &__avatar
      width: 36px
      height: 36px
    &__name
      font-weight: 600
      font-size: 14px
      line-height: 20px
    &__verif
      font-size: 12px
      line-height: 16px
    &__date
      font-size: 14px
      line-height: 20px
  .articles
    width: 288px
    height: 320px
    &__title
      max-height: 200px
      font-size: 20px
      line-height: 24px
      min-height: 83px
  .popular
    &__title
      font-size: 24px
      line-height: 32px
      margin-bottom: 12px
    &__text
      font-size: 11px
      line-height: 24px
      margin-bottom: 32px
