*
  box-sizing: border-box
body
  // width: 100vw
  font-family: 'Open Sans', sans-serif
  overflow-x: hidden
.container
  width: 1140px
  margin: auto
  &-post
    margin: auto
    width: 804px
    &__wrapper
      width: calc(100% - 54px)
      margin: auto
button
  cursor: pointer
button:active, button:focus
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
  outline: none
input
  outline: none
a, a:focus
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
  outline: none
  cursor: pointer

.author
  width: 100%
  display: flex
  align-items: center
  justify-content: space-between
  &__avatar
    margin-right: 12px
    width: 40px
    height: 40px
    border-radius: 50%
    overflow: hidden
    &-icon
      width: 100%
      height: 100%
  &__info
    margin-left: 0
    margin-right: auto
  &__name
    font-style: normal
    font-weight: 600
    font-size: 16px
    line-height: 22px
    color: $dark
    margin-bottom: 6px
  &__date
    font-style: normal
    font-weight: 600
    font-size: 16px
    line-height: 22px
    color: #5A7184
  &__verif
    display: flex
    align-items: center
    font-style: italic
    font-weight: normal
    font-size: 14px
    line-height: 19px
    color: #5A7184
    &-icon
      margin-right: 8px
      width: 16px
      height: 16px
  &__link
    text-decoration: none
.label
  padding: 8px 13px
  background: rgba(54, 179, 126, 0.1)
  font-style: normal
  font-weight: 600
  font-size: 14px
  line-height: 20px
  color: #36B37E
  border-radius: 20px
  margin-bottom: 16px
  text-decoration: none
.button
  padding: 11px 22px
  background-color: transparent
  border: 2px solid $ligth
  border-radius: 8px
  font-style: normal
  font-weight: bold
  font-size: 16px
  line-height: 22px
  color: $ligth
  text-decoration: none
.body
  &_active
    overflow: hidden

// ::-webkit-scrollbar
//   width: 15px
//   height: 3px
// ::-webkit-scrollbar-button
//   background-color: #666
// ::-webkit-scrollbar-track
//   background-color: #999
// ::-webkit-scrollbar-track-piece
//   background-color: #ffffff
// ::-webkit-scrollbar-thumb
//   height: 50px
//   background-color: #666
//   border-radius: 3px
// ::-webkit-scrollbar-corner
//   background-color: #999
// ::-webkit-resizer
//   background-color: #666
